@font-face {
    font-family: "padrao";
    src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "decorativa";
    src: url(../fonts/Simonetta-BlackItalic.ttf);
}

$fonte-padrao: "padrao";
$fonte-decorativa: "decorativa";